.header {
  @apply bg-black;
  &__home {
    @apply flex justify-between items-center max-w-[144rem] px-[3.2rem] h-[100vh];
    margin: 0 auto;
    & main {
      @apply text-white w-[37%];

      & h1 {
        @apply mb-[1.6rem] text-[6.7rem];
      }

      & p {
        @apply mb-[4rem] text-[2.1rem];
      }
    }
    & section {
      @apply w-1/2 h-full;
      & figure {
        @apply absolute w-1/2 h-full right-0;
      }
      & img {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }

  &__about {
    @apply flex justify-between items-center max-w-[144rem] px-[3.2rem];
    margin: 0 auto;
    & main {
      @apply text-white w-[37%];

      & span {
        @apply text-[1.4rem] text-[#FF9900] uppercase;
      }

      & h2 {
        @apply mb-[.8rem] text-[5rem];
      }

      & p {
        @apply mb-[4rem] text-[2.1rem];
      }
    }
    & section {
      @apply w-1/2;
      & figure {
        @apply relative top-[7.2rem];
        & img {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
  }

  &__listing {
    @apply flex justify-center items-center max-w-[144rem] px-[3.2rem] h-[40rem];
    margin: 0 auto;

    & section {
      @apply flex flex-col items-center w-[79.1%];
      & h2 {
        @apply text-white text-[5rem] text-center w-[52.5%];
      }

      & form {
        @apply flex justify-center gap-x-[1.6rem] bg-white py-[5.6rem] px-[6.4rem] rounded-[1rem] relative top-[10.4rem];
        box-shadow: 0px 4px 8px rgba(181, 181, 181, 0.1);
        & button {
          @apply px-[6.4rem];
        }
      }
    }
  }

  &__contact {
    @apply flex justify-center items-center max-w-[144rem] px-[3.2rem] h-[40rem];
    margin: 0 auto;

    & section {
      @apply flex flex-col items-center w-[79.1%];
      & h2 {
        @apply text-white text-[5rem] text-center;
      }

      & main {
        @apply flex justify-between items-center gap-x-[1.6rem] w-full px-[12.5rem] bg-white py-[4rem] rounded-[1rem] relative top-[16rem] overflow-hidden;
        box-shadow: 0px 4px 8px rgba(181, 181, 181, 0.1);

        & figure {
          @apply flex gap-x-[3.6rem] py-[1.6rem];
          & svg {
            @apply h-[6.4rem] w-[6.4rem] rounded-[100%] bg-[#FF9900]/5;
          }

          & figcaption {
            @apply flex flex-col justify-between;
          }
        }

        & hr {
          @apply h-[.16rem] w-[10.4rem] rotate-90 outline-none border-none bg-[#D9D9D9];
        }
      }
    }
  }
}
