.header {
  @apply bg-black;
  &__home {
    @apply flex flex-col md:flex-row w-full h-auto md:justify-between md:items-center md:max-w-[144rem] md:h-[100vh] px-[3.2rem] relative;
    margin: 0 auto;
    & main {
      @apply w-full md:w-[37%];

      & h1 {
        @apply text-white text-[3.7rem] mb-[1.6rem] md:text-[6.7rem];
      }

      & p {
        @apply mb-[5.6rem] md:mb-[4rem] text-[2.1rem] text-white;
      }

      & button {
        @apply mb-[3.2rem] md:mb-0;
      }
    }
    & section {
      @apply w-full h-[50vh] md:w-1/2 md:h-full;
      & figure {
        @apply absolute w-full md:h-full md:w-1/2 bottom-0 right-0;
      }
      & img {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }

  &__about {
    //
    @apply flex flex-col md:flex-row w-full md:justify-between md:items-center md:max-w-[144rem] px-[3.2rem];
    //
    margin: 0 auto;
    //
    & main {
      @apply md:w-[37%];

      & span {
        @apply text-[1.4rem] text-[#FF9900] uppercase;
      }

      & h2 {
        @apply mb-[.8rem] md:text-[5rem] text-white;
      }

      & p {
        @apply md:mb-[4rem] text-[1.8rem] md:text-[2.1rem] text-white;
      }
    }
    & section {
      @apply md:w-1/2;
      & figure {
        @apply relative top-[9.6rem] md:top-[7.2rem];
        & img {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
  }

  &__listing {
    @apply flex justify-center items-center max-w-[144rem] px-[3.2rem] h-[40rem];
    margin: 0 auto;

    & section {
      @apply flex flex-col items-center w-[79.1%];
      & h2 {
        @apply text-white text-[5rem] text-center w-[52.5%];
      }

      & form {
        @apply flex justify-between gap-x-[2%] bg-white py-[5.6rem] px-[6.4rem] rounded-[1rem] relative top-[10.4rem];
        box-shadow: 0px 4px 8px rgba(181, 181, 181, 0.1);

        & > * {
          width: 23%;
        }
      }
    }
  }

  &__contact {
    @apply flex justify-center items-center max-w-[144rem] px-[3.2rem] h-[40rem];
    margin: 0 auto;

    & section {
      @apply flex flex-col items-center w-[79.1%];
      & h2 {
        @apply text-white text-[5rem] text-center;
      }

      & main {
        @apply flex justify-between items-center w-full bg-white px-[12rem] py-[4rem] rounded-[1rem] relative top-[16rem] overflow-hidden;
        box-shadow: 0px 4px 8px rgba(181, 181, 181, 0.1);

        & figure {
          @apply flex gap-x-[3.6rem] py-[1.6rem];
          & div {
            @apply h-[6.4rem] w-[6.4rem] rounded-full bg-[#FF9900]/5 flex items-center justify-center;
            & svg {
              @apply h-[3.2rem] w-[3.2rem] rounded-[100%] bg-[#FF9900]/5;
            }
          }

          & figcaption {
            @apply flex flex-col justify-between;
          }
        }

        & hr {
          @apply h-[.16rem] w-[10.4rem] rotate-90 outline-none border-none bg-[#D9D9D9];
        }
      }
    }
  }
}
