#global {
  .listings {
    //
    @apply mt-[20.8rem] mb-[20.8rem] flex justify-center gap-y-[3.2rem] md:gap-y-0  md:justify-between gap-x-[2.4rem];
    &__row {
      @apply w-full flex flex-col md:flex-row md:flex-wrap  gap-y-[3.2rem] md:gap-x-[3.3%];

      & .card {
        flex: 0 0 30%;
        margin-left: 0.6%;
        margin-right: 0.5%;
      }
    }
  }
}
